@reference "./globals.css";

.motto {
    @apply flex;
    @apply w-max;
    @apply text-[12px];
    @apply md:text-2xl;
    @apply font-bold;
}

.motto-second-part-underline {
    width: 0;
    @apply md:h-[2.5px];
    @apply bg-amber-400;
}

.scrolldown-indicator {
    @apply absolute;
    animation: jump 1s ease infinite;
}

@keyframes jump {
    0% {
        top: 50%;
    }

    50% {
        top: 70%;
    }

    100% {
        top: 50%;
    }
}
